<div class ="row">
  Input into the child (DataBind): {{childInputStringDataBind}}
  <br>
  Number of changes to Input (child tracked): {{changestoChildInputString}}
  <br>
  First value: {{childInputStringPrev}}
  <br> 
  New Value: {{childInputStringNew}}
  <br>
  <div class="input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Child Input:</span>
      </div>
      <textarea [(ngModel)]="childTextAreaKey" class="form-control" aria-label="With textarea"></textarea>
    </div>
<div>
<div class="row">
  
</div>
