<div class="container">


  <h4>Bootstrap theming: </h4>
  <div class="row">
      <div class="form-group">
        <form action="" [formGroup]="myGroup">
          <input type="text" class="form-control"  formControlName="myControl" [matAutocomplete]="auto" placeholder="Make a selection">
        </form>
      </div>
  </div>

  <h4>Angular material:</h4>
  <div class="row">
    <form action="" [formGroup]="myGroup">
      <mat-form-field>

    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myGroup.get('myControl')" 
      [matAutocomplete]="auto">
       
      </mat-form-field>

    </form>
  </div>
 
 
  <h4>Angular material, active first Elem:</h4>
  <div class="row">
    <form action="" [formGroup]="myGroup">
      <mat-form-field>
        <input type="text" placeholder="Pick one" aria-label="Number" 
            matInput [formControl]="myGroup.get('myControl')" 
            [matAutocomplete]="auto">
      </mat-form-field>

    </form>
  </div>
</div>

<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
    {{option}}
  </mat-option>
</mat-autocomplete>