<div id="image-background" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-1 text-dark">Macarons</h1>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
   
  </div>
</nav>


<div class="container">
  <h5>Enter an ID for route parameter</h5>
  <div class="row">
    <div class="col-3">
      <div class="container">
        <div class="row">
          <ul>
            <li>Value : {{pathParamValue.value}}</li>
            <li>Touched : {{pathParamValue.touched}}</li>
            <li>Dirty: {{pathParamValue.dirty}} </li>
          </ul>
        </div>
        <div class="row">
          <div class="input-group my-3">
            <input type="text" name="" id="" class="form-control" placeholder="ID here" [formControl]="pathParamValue">
          </div>
        </div>
        <div class="h5">Enter query parameters</div>
        <div class="row">
          <div class="col">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center" style="display:block;"
                *ngFor="let queryParam of queryParameters">
                {{queryParam}}
                <i (click)="removeItem(queryParam)" class="far fa-times-circle"></i>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="input-group my-3">
            <input type="text" name="" id="" class="form-control" placeholder="ID here" [formControl]="queryParamValue">
            <div class="input-group-append">
              <button (click)="addValToQueryParameters(queryParamValue.value)"
                class="btn btn-outline-success">Add</button>
            </div>
          </div>
        </div>

        <div class="row">
          <button [routerLink]='[pathParamValue.value]' class="btn btn-success">Submit</button>
        </div>
      </div>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>