<div class="container-fluid mt-4 ml-0 mr-0 fill-screen">
  <div class="row fill-screen">
    <div class="col-2">
      <button (click)="openDialog()" class="btn btn-light btn-block">
        Add Timeslot
      </button>
      <form [formGroup]="toggleBoardDisplay">
        <div formArrayName="boards">
            <div *ngFor="let board of boards.controls; let i=index" 
            [formGroupName]="i">
              <mat-checkbox  color="primary" formControlName="checked">{{board.get('name').value}}</mat-checkbox>
            </div>

        </div>
        
      </form>
    </div>


    <div class="col-10 fill-screen">
      <!-- <mwl-calendar-week-view [viewDate]="viewDate" [events]="filteredEvents" [refresh]="refresh"></mwl-calendar-week-view> -->
      <app-calendar [calendarViewBoardList]="boardFilter"></app-calendar>
    </div>
  </div>

</div>