<h3 mat-dialog-title>Create a Time Slot</h3>
<mat-dialog-content [formGroup]="timeslotForm">
  
    <mat-form-field>
        <mat-label>Pick a Board</mat-label>
        <mat-select formControlName="board">
          <mat-option *ngFor="let board of boards" [value]="board">
            {{board}}
          </mat-option>
        </mat-select>
      </mat-form-field>
 
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>close</button>
    <button mat-button mat-dialog-close (click)="closeDialog()" cdkFocusInitial>Submit</button>

</mat-dialog-actions>