<div class="container">
  <div class="row">
    <div class="col-3">
      <h3>You can't get there! Would you like to go back?</h3>
    </div>
    <div class="col-3">
      <button  [routerLink]="['/routing', 'guard']" class="btn btn-warning">Go back</button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6" >
        <img style="width:100%"
        src="https://images.unsplash.com/photo-1523537444585-432d2bacc10d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
    </div>
    
  </div>
</div>